<h1 style="color:blue;">Ingrese datos</h1>
<br>

<form action="/personas" method="post">

    <div>
        <label for="nombre"><b>Nombre</b></label>
        <input id="nombre" type="text" name="nombre">
    </div>

    <div>
        <label for="apellido"><b>Apellido</b></label>
        <input id="apellido" type="text" name="apellido">
    </div>

    <div>
        <label for="edad"><b>Edad</b></label>
        <input id="edad" type="number" name="edad">
    </div>

    <button>Enviar</button>
</form>