<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <span id="espacioParaContenido"></span> <!-- para inyectar el resultado -->
    <!-- incluir handlebars desde el CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <!-- <script src="http://localhost:8080/js/inicio.js"></script> -->
    <script src="js/inicio.js"></script>
</body>

</html>